.image  {
  height: 50px;
  width: 50px;
}
.info {
  text-align: left;
  white-space:nowrap;
  overflow: hidden;
  margin-top: 100px;
}
.contact {
  text-align: left;
  white-space:nowrap;
  overflow: hidden;
  margin-top: 100px;
}
.game {
  text-align: left;
  text-align: left;
  margin-top: 100px;
  width: 60%;
}
body {
  height: auto;
  text-align: center;
}
